<?xml version="1.0" ?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robotis_humanoid_gazebo)/config/position_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/robotis_humanoid" args="joint_state_controller
				       		     torso_y_pos
						     l_arm_sh_p1_pos
						     l_arm_sh_r_pos
						     l_arm_sh_p2_pos
						     l_arm_el_y_pos
						     l_arm_wr_r_pos
						     l_arm_wr_y_pos
						     l_arm_wr_p_pos
						     l_arm_grip_pos
						     l_arm_grip_1_pos
						     r_arm_sh_p1_pos
						     r_arm_sh_r_pos
						     r_arm_sh_p2_pos
						     r_arm_el_y_pos
						     r_arm_wr_r_pos
						     r_arm_wr_y_pos
						     r_arm_wr_p_pos
						     r_arm_grip_pos
						     r_arm_grip_1_pos
						     l_leg_hip_y_pos
						     l_leg_hip_r_pos
						     l_leg_hip_p_pos
						     l_leg_kn_p_pos
						     l_leg_an_p_pos
						     l_leg_an_r_pos
						     r_leg_hip_y_pos
						     r_leg_hip_r_pos
						     r_leg_hip_p_pos
						     r_leg_kn_p_pos
						     r_leg_an_p_pos
						     r_leg_an_r_pos
						     head_y_pos
						     head_p_pos" />

</launch>
