<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="johnny5" />
  <arg name="use_hands" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find thormang3_description)/urdf/thormang3.xacro'
    robot_name:=$(arg robot_name)
    use_hands:=$(arg use_hands)" />
</launch>
