<?xml version="1.0" ?>
<launch>
  <arg name="robot_name" default="thormang3" />
  <arg name="use_hands" default="$(optenv USE_HANDS false)" />
  <arg name="pinned" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find thormang3_description)/urdf/thormang3.xacro'
    robot_name:=$(arg robot_name)
    use_hands:=$(arg use_hands)
    pinned:=$(arg pinned)" />

  <!-- send joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <rosparam param="source_list">["/thormang3/joint_states"]</rosparam>-->
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thormang3_description)/launch/thormang3.rviz"/>
</launch>
