<?xml version="1.0" ?>

<launch>
    <!-- Robot Model -->
    <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find robotis_humanoid_description)/urdf/robotis_humanoid.xacro'" />

    <!-- Show joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
        <remap from="/joint_states" to="/opc/thor_3_0/joint_states" />
        <rosparam param="source_list">["/robotis/thor_3_0/joint_states"]</rosparam>
    </node>

    <!-- Show in Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotis_humanoid_description)/launch/robotis_humanoid_display.rviz" output="screen"/>

</launch>
