<?xml version="1.0" ?>

<launch>    
    <arg name="use_present" default="true" />
    <arg name="use_lidar" default="true" />  
    
    <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find robotis_humanoid_description)/urdf/robotis_humanoid.xacro'" />
    
    <!-- send joint values -->
    <node name="robotis_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="FALSE"/>
        <param name="rate" value="30"/>
        <remap from="/joint_states" to="/robotis/thor_3_0/joint_states" />
        <rosparam param="source_list" if="$(arg use_present)">["robotis/present_joint_states"]</rosparam>
        <rosparam param="source_list" unless="$(arg use_present)">["robotis/goal_joint_states"]</rosparam>
    </node>

    <!-- Combine joint values to TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="/joint_states" to="/robotis/thor_3_0/joint_states"/>
    </node>

    <!-- lidar -->    
    <include file="$(find robotis_humanoid_description)/launch/thor_laserscan.launch" if="$(arg use_lidar)"/> 

</launch>
