<?xml version="1.0"?>
<robot name="thormang3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_name" default="$robot_name"/>
  <!-- Import all Gazebo-customization elements, including Gazebo colors-->
  <xacro:include filename="$(find thor_mang_gazebo)/urdf/thormang3.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find thormang3_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find thormang3_description)/urdf/thormang3.structure.torso.xacro" />
  
  <xacro:include filename="$(find thormang3_description)/urdf/thormang3.transmissions.xacro" />

</robot>
